<!DOCTYPE html>
<html>
<head>

    <script src="//code.jquery.com/jquery-1.10.1.js" type="text/javascript"></script>
    <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        var timer = 0;
        var selectedHost = '';
       // Load the Visualization API and the piechart package.
      //"Line" charts are a part of the default package library.
      google.load('visualization', '1', {'packages':['corechart']});

    function drawChart(hostName)
    {
        selectedHost = hostName;
        clearInterval(timer);
        time = setInterval(function(){
            $.get( "/json_report/" + hostName, function( data ) {
            var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
            var tmp = Array();
            for(i in data){
                tmp.push([
                            new Date(data[i][0] * 1000),
                            data[i][1]
                        ]
                );
            }
            var newChartData = new google.visualization.DataTable(); //Creating a new data set for the chart to use.
            newChartData.addColumn('datetime', 'Time');
            newChartData.addColumn('number', 'Number of packets');
            newChartData.addRows(tmp); //Place received data here.

            var options = {
                'title':'Total Packet Count Over Time For ' + hostName,
                'legend':{'position': 'bottom'},
                'pointSize': 5,
                series: {
                    0: {pointShape: 'circle'}
                }
            };
            chart.draw(newChartData, options); //Lastly, re-draw the chart.
        },
        "json");
        }, 5000);
    }
    </script>

    <style>
        #hosttag {
            cursor: pointer;
            color: dodgerblue;
            text-decoration: underline;
            text-decoration-color: dodgerblue;
        }


    </style>

</head>
<body>

<div class="container">
  <!--Div that will hold the pie chart-->
    <div class="row-fluid">
        <div class="span4">
            <table class="table table-striped">
                <tr>
                    <td>Clients</td>
                    <td>{{ client_count }}</td>
                </tr>
            </table>
        </div>
        <div class="span8">
            <div id="chart_div" style="width:400; height:300"></div>
        </div>
    </div>
    <div class="row">
    <table class="table table-striped">
      <tr>
        <th>Host Name</th>
        <th>IP</th>
        <th>Destination</th>
        <th colspan="3">Packets</th>
      </tr>
      <tr>
          <th></th> <!-- th = table header /th = closing of statement -->
          <th></th>
          <th></th>
          <th>Incoming</th>
          <th>Outgoing</th>
          <th>Total</th>
      </tr>
      {% for src in network_data.keys() %}
        <tr data-toggle="collapse" data-target="#row{{ network_data.keys().index(src) }}" class="clickable">
            <!-- <td id="hosttag" onclick="drawChart('{{ src }}');clearInterval(timer);setInterval(function(){drawChart('{{ src }}')}, 5000)">{{ src }}</td> -->
            <td id="hosttag" onclick="drawChart('{{ src }}')">{{ src }}</td>
            <td>{{ network_data[src]["ip"] }}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
          <td colspan="6">
               <div id="row{{ network_data.keys().index(src) }}" class="collapse">
                    <table class="table table-striped">
                        {% for dest in network_data[src]["data"].keys() %}
                           <tr>
                            <td></td>
                            <td></td>
                            <td>{{ dest }}</td>
                            <td>{{ network_data[src]["data"][dest][-1]["incoming"] }}</td>
                            <td>{{ network_data[src]["data"][dest][-1]["outgoing"] }}</td>
                            <td>{{ network_data[src]["data"][dest][-1]["total"] }}</td>
                           </tr>
                          {% endfor %}
                    </table>
               </div>
          </td>
            </tr>
      {% endfor %}
    </table>
  </div>
  <div class="row-fluid">
      <form role="form">
          <label for="number">Data TTL</label><input type="number" min="60" id="number" value="{{ ttl }}" />
          <input type="button" id="ttl_btn" value="Set Data TTL" />
          <input type="button" id="download_btn" value="Download Data" />
      </form>
  </div>

</div>
<script type="text/javascript">
    $("#ttl_btn").click(
        function(){
            $.post("/set_ttl", JSON.stringify({ttl: $("#number").val()}));
        }
    );

    $("#download_btn").click(
        function(){
            window.location.href = "/csv_report/" + selectedHost;
        }
    );
</script>
</body>
</html>
